server:
  port: 9000

app:
  version: @project.version@

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: '停车场业务'
      display-name: '停车场API'
      paths-to-match: '/**'
      packages-to-scan: com.yfkyplatform.parkinglotmiddleware.api.web
    - group: '道尔云API代理'
      display-name: '道尔云API'
      paths-to-match: '/**'
      packages-to-scan: com.yfkyplatform.parkinglotmiddleware.carpark.daoer
    - group: '联合催缴业务'
      display-name: '联合催缴API'
      paths-to-match: '/**'
      packages-to-scan: com.yfkyplatform.parkinglotmiddleware.api.web.open.duecar

dubbo:
  protocol:
    name: dubbo
    port: 31000
  consumer:
    check: false
  cloud:
    subscribed-services: ${spring.application.name},passthrough-service,presspay-service

spring:
  main:
    allow-bean-definition-overriding: true
  cloud:
    nacos:
      discovery:
        server-addr: ${spring.cloud.nacos.config.server-addr}
        username: ${spring.cloud.nacos.config.username}
        password: ${spring.cloud.nacos.config.password}
  redis:
    password: 850aa64cedcfb8cb78f4a2b1f2bf4fa3f4e09df7e02c7501fc18ec725f765bc9
    cluster:
      nodes: 192.168.0.119:7001
  mvc:
    format:
      date-time: yyyy-MM-dd HH:mm:ss
  codec:
    max-in-memory-size: 100MB

rocketmq:
  # Producer 配置项
  producer:
    group: parkinglot-middleware-producer-group # 生产者分组