server:
  port: 9000

dubbo:
  protocol:
    name: dubbo
    port: 31000
  consumer:
    check: false
  cloud:
    subscribed-services: parkinglot-middleware

spring:
  main:
    allow-bean-definition-overriding: true
  cloud:
    nacos:
      discovery:
        server-addr: ${spring.cloud.nacos.config.server-addr}
        username: ${spring.cloud.nacos.config.username}
        password: ${spring.cloud.nacos.config.password}
  redis:
    password: 850aa64cedcfb8cb78f4a2b1f2bf4fa3f4e09df7e02c7501fc18ec725f765bc9
    cluster:
      nodes: 192.168.0.119:7001
  mvc:
    format:
      date-time: yyyy-MM-dd HH:mm:ss

rocketmq:
  # Producer 配置项
  producer:
    group: parkinglot-middleware-producer-group # 生产者分组

app.version: @project.version@